﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <p>
        <button id="payButton" type="submit">Test payment</button>
    </p>
</div>


@section Scripts
{
    <script type="text/javascript">

        var clicked = false;

        function payButton_onClick(e) {
            $("#payButton").off("click");
            $.getJSON('Home/SetupPayment', function (jsonFromRequestEndpoint) {
                var responseUrl = jsonFromRequestEndpoint.MERCHANT_RESPONSE_URL;

                // For some reason the 'MERCHANT_RESPONSE_URL' property must be deleted for redirect to work.
                delete jsonFromRequestEndpoint.MERCHANT_RESPONSE_URL;
                RealexHpp.setHppUrl("https://pay.sandbox.realexpayments.com/pay");
                // When using full page redirect your Response URL must be an absolute link.
                RealexHpp.redirect.init("payButton",
                    //"https://globalpayintegration.conveyor.cloud/Home/PaymentResult",
                    responseUrl,
                    jsonFromRequestEndpoint);
                $("#payButton").click();
            });
        }

        $(document).ready(function () {
            $("#payButton").on("click", payButton_onClick);
        });

    </script>
}