﻿@{
    ViewData["Title"] = "Payment successful";
}

<div class="text-center">
    <h1 class="display-4">Payment successful</h1>
    <p>Redirecting in 3 seconds...</p>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home", null, Context.Request.Scheme)';
        }, 3000);
    });

</script>