﻿@{
    ViewData["Title"] = "Payment unsuccessful";
}

<div class="text-center">
    <h1 class="display-4">Payment unsuccessful</h1>
    <p>
        @ViewBag.ErrorMsg
    </p>
    <p>Redirecting in 3 seconds...</p>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home", null, Context.Request.Scheme)';
        }, 3000);
    });

</script>
